@use "global" as *;


/* 共通パーツ */
.inner {
  width: 100%;
  max-width: rem(1280);
  padding-inline: rem(80);
  margin-inline: auto;

  @include mq("sp") {
    padding-inline: rem(20);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.tab-none {
  @include mq("tab") {
    display: none;
  }
}

.sp-none {
  @include mq("sp") {
    display: none;
  }
}

.tab-show {
  display: none;

  @include mq("tab") {
    display: block;
  }
}

.sp-show {
  display: none;

  @include mq("sp") {
    display: block;
  }
}

