@use "global" as *;

html {
  scroll-behavior: smooth;
}


/* 共通パーツ */
.inner {
  width: 100%;
  max-width: rem(1320);
  padding-inline: rem(20);
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  font-family: $base-font;
  font-size: rem(48);
  font-weight: $bold;
  line-height: 1.2;
  color: $base-color;

  @include mq("sp") {
    font-size: rem(28);
    padding-top: rem(5);
  }
}

.section-title--en {
  font-family: $second-font;
  font-size: rem(24);
  font-weight: $bold;
  color: $blue;

  @include mq("sp"){
    font-size: rem(16);
  }
}

.section-badge {
  width: fit-content;
  margin-inline: auto;
  font-size: rem(24);
  padding: rem(10) rem(36);
  background-color: $blue;
  color: $white;
  font-family: $base-font;
  font-weight: $bold;
  border-radius: rem(3);
  line-height: 1.2;
}

.section-head-center {
  @media (min-width: 769px) {
    text-align: center;
  }
}

.tab-none {
  @include mq("tab") {
    display: none;
  }
}

.sp-none {
  @include mq("sp") {
    display: none;
  }
}

.tab-show {
  display: none;

  @include mq("tab") {
    display: block;
  }
}

.sp-show {
  display: none;

  @include mq("sp") {
    display: block;
  }
}

