@use "global" as *;

.header {
  position: fixed;
  top: rem(16);
  inset-inline: rem(35);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(93);
  padding-block: rem(8);
  padding-inline: rem(40) rem(24);
  background: rgba(255, 255, 255, 0.6);
  border-radius: rem(100);

  @include mq("sp") {
    top: 0;
    inset-inline: 0;
    align-items: flex-start;
    min-height: 0;
    padding-block: rem(16);
    padding-inline: rem(20);
    background: transparent;
    border-radius: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

.header__brand {
  display: flex;

  @include mq("sp"){
    margin-top: rem(3);
  }
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  display: block;
  width: rem(252);
  height: auto;

  @include mq("sp") {
    width: rem(123);
  }
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: rem(30);

  @include mq("sp") {
    flex-direction: column;
    align-items: flex-end;
    gap: rem(12);
    margin-top: rem(3);
  }
}

.header__nav-link {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: rem(2);
  padding: rem(2) rem(8) rem(4) rem(18);
  background-color: $white;
  border-radius: rem(100);
  color: $base-color;
  font-size: rem(13);
  font-weight: $medium;
  text-decoration: none;
  line-height: 1.2;

  @include mq("sp") {
    min-width: rem(124);
    font-size: rem(13);
    padding-block: rem(9);
    padding-right: rem(5);
    display: flex;
    justify-content: center;
    gap: rem(5);
    // box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    // border: 1px solid #008CD6;
  }
}

.header__nav-icon {
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  width: rem(16);
  height: rem(16);
}

.header__nav-icon img {
  display: block;
  width: 100%;
  height: 100%;
}
