// プロジェクトカラー（Figma変数より）
$base-color: #1B1B1B;   // 本文（黒）
$white: #FFFFFF;        // 白
$black: #1B1B1B;        // 黒
$black02: #000;        // 黒
$blue: #008CD6;         // メインブルー（青）
$gray: #BABABA;         // Gray4
$red: #911111;          // red
$bg-light: #F6F9FD;     // カード背景の薄水色
