@use "global" as *;


/* 共通パーツ */
.inner {
  width: 100%;
  max-width: rem(1020);
  padding: 0 rem(15);
  margin-right: auto;
  margin-left: auto;

  @include mq("sp") {
    padding: 0 rem(20);
  }
}

.tab-none {
  @include mq("tab") {
    display: none;
  }
}

.sp-none {
  @include mq("sp") {
    display: none;
  }
}

.tab-show {
  display: none;

  @include mq("tab") {
    display: block;
  }
}

.sp-show {
  display: none;

  @include mq("sp") {
    display: block;
  }
}

